{% extends "base.html" %}

{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/account_form.css' %}"/>
{% endblock %}

{% block content %}
	<div class="container">
		<h3 class="my-4">{% block form-title %}{% endblock %}</h3>
		<div class="bdcontainer-sm">
		{% if form.non_field_errors %}
			<div class="alert alert-danger p-2">{{ form.non_field_errors.as_text }}</div>
		{% endif %}
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<div class="form-outline mb-4">
						{% if field.errors %}
							<div class="text-danger my-2">{{ field.errors.as_text }}</div>
						{% endif %}
						<label class="label-control">{{ field.label }}</label>
						{{ field }}
					</div>
				{% endfor %}
				<button type="submit" class="btn btn-primary mb-4">{% block submit-value %}{% endblock %}</button>
			</form>
		{% block form-extra %}{% endblock %}
		</div>
	</div>
{% endblock %}
