{% extends "base.html" %}

{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/account_form.css' %}"/>
{% endblock %}

{% block content %}
	<div class="container">
		<h3>{% block form-title %}{% endblock %}</h3>
		<div class="bdcontainer-sm">
			{{ form.non_field_errors }}
			<form method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{% for field in form %}
					<div class="form-outline mb-4">
						{{ field.errors }}
						<label class="label-control">{{ field.label }}</label>
						{{ field }}
					</div>
				{% endfor %}
				<button type="submit" class="btn btn-primary mb-4">{% block submit-value %}{% endblock %}</button>
			</form>
		{% block form-extra %}{% endblock %}
		</div>
	</div>
{% endblock %}
