{% extends "base.html" %}

{% load static %}
    
{% block content %}
    <h3>Invoice #{{ invoice.id }}</h3>
    <div class="d-block m-3">
        <div class="rounded p-3" style="max-width: 30%; background-color: #f1f1f1;">
            <div><b>{{ invoice.user }}</b></div>
            <div>Creation date: {{ invoice.created_on|date:"d/m/Y H:i" }}</div>
            
            {% if invoice.payed %}
            <div>Paid on: {{ invoice.paid_on|date:"d/m/Y H:i" }}</div>
            {% endif %}
            
            <div>Due date: {{ invoice.due_date|date:"d/m/Y H:i" }}</div>
            
            <div>Amount: ${{ invoice.amount }}</div>
            
            {% if invoice.status %}
            <div>Status: {{ invoice.status }}</div>
            {% endif %}
            
            {% if invoice.paid_via %}
            <div>Paid via: {{ invoice.paid_via }}</div>
            {% endif %}
            
            {% if invoice.comment %}
            <div>Comment: {{ invoice.comment }}</div>
            {% endif %}

            <a href="#"	class="btn btn-success {% if invoice.status == 'CANCELED' or invoice.status == 'PAID' or invoice.status == 'EXPIRED' %}disabled{% endif %}">Pay</a>
        </div>
    </div>
{% endblock %}
