{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1>My invoices</h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Invoice ID</th>
                            <th>Creation date</th>
                            <th>Due date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for invoice in invoices %}
                        <tr>
                                <td><a href={% url 'invoice' invoice.id %}>invoice #{{ invoice.id }}</a></td>
                                <td>{{ invoice.created_on|date:"d/m/Y H:i" }}</td>
                                <td>{{ invoice.due_date|date:"d/m/Y H:i" }}</td>
                                <td>${{ invoice.amount }}</td>
                                <td>{{ invoice.status }}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Invoice Actions">
                                    
                                        <a href="#" 
                                            class="btn btn-success {% if invoice.status == 'CANCELED' or invoice.status == 'PAID' or invoice.status == 'EXPIRED' %}disabled{% endif %} mx-2 rounded" 
                                            onclick="return confirm('Are you sure you want to pay this invoice?')">
                                            Pay</a>
                                        
                                        <a href="{% url 'cancel_invoice' invoice.id %}" 
                                            class="btn btn-secondary {% if invoice.status == 'CANCELED' or invoice.status == 'PAID' or invoice.status == 'EXPIRED' %}disabled{% endif %} mx-2 rounded" 
                                            onclick="return confirm('Are you sure you want to cancel this invoice?')">
                                            Cancel</a>
    
                                        <a href="{% url 'delete_invoice' invoice.id %}" 
                                            class="btn btn-danger {% if invoice.status == 'PAID' %}disabled{% endif %} mx-2 rounded" 
                                            onclick="return confirm('Are you sure you want to delete this invoice?')">
                                            Delete</a>
                                    </div>
                                </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
