{% extends 'base.html' %}
{% block content %}
<h1>About Us</h1>
    <p>Welcome to B.I.K.E! We are a company that specializes in leasing high-quality products.</p>
    <p>Our team is dedicated to providing excellent customer service and ensuring that our customers are satisfied with their purchases.</p>
    <p>We offer a wide variety of products and are constantly updating our inventory to keep up with the latest trends and customer demands.</p>
    <p>Thank you for visiting our website and we hope to see you again soon!</p>
{% endblock %}