{% extends 'base.html' %}

{% block content %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-lg-12 col-md-12">
				<div class="card shadow-lg">
					<div class="card-header bg-primary text-white">
						<h2 class="mb-0">Your Complaints</h2>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover ">
								<thead class="bg-secondary text-white">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Last Update</th>
										<th scope="col">Status</th>
										<th class="w-50" scope="col">Description</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									{% for complaint in complaints %}
										{% if complaint.status != 'CLOSED' or complaint.worker == user or complaint.mechanic == user %}
											<tr class="
												{% if complaint.status == 'UNATTACHED' %} table-light
												{% elif complaint.status == 'OPENED' %} table-warning
												{% elif complaint.status == 'CLOSED' %} table-secondary
												{% else %} table-success
												{% endif %}">
												<td>{{ forloop.counter }}</td>
												<td>{{ complaint.lastUpdate }}</td>
												<td>{{ complaint.status }}</td>
												<td>{{ complaint.description }}</td>
												<td><a href="{% url 'complaint' complaint.id %}" class="btn btn-primary">View Details</a></td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
						{% block complaints-extra %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}