{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>B.I.K.E</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link href="{% static 'css/base.css' %}?timestamp=1234567890" rel="stylesheet">
		{% block head %}{% endblock %}
	</head>
	<body class="d-flex flex-column min-vh-100">

		<!-- Header Navbar -->
		<nav class="navbar navbar-expand-lg bg-light ">
			<div class="container">
				<a href="/" class="navbar-brand">B.I.K.E</a>
				<div class="collaps divbar-collaps">
					<ul class="navbar-nav ms-auto">
						{% if user.is_authenticated and user.is_worker %}
						<li class="nav-item">
							<a href="{% url 'worker' %}" class="btn btn-primary mx-2 rounded-custom">worker view</a>
						</li>
						{% endif %}
						
						{% if user.is_authenticated %}
						<li class="nav-item">
							<a href="{% url 'logout' %}" class="btn btn-primary mx-2 rounded-custom"
							onclick="return confirm('Are you sure to log out?')">log out</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'profile' %}" class="btn btn-primary mx-2 rounded-custom">profile</a>
						</li>
						{% else %}
							{% if request.resolver_match.url_name == 'register' or request.resolver_match.url_name == 'login' %}
							{% else %}
							<li class="nav-item">
								<a href="{% url 'register' %}" class="btn btn-primary mx-2 rounded-custom">sign up</a>
							</li>
							<li class="nav-item"></li>
								<a href="{% url 'login' %}" class="btn btn-primary mx-2 rounded-custom">log in</a>
							</li>
							{% endif %}
						{% endif %}
					</ul>

				</div>
			</div>

		</nav>
		
		<div class="container-fluid">
			<nav class="nav flex-column">
				<ul class="navi">
					<li><a href="{% url 'home' %}"
							class="{% if request.resolver_match.url_name == 'home' %}active{% else %}none{% endif %}">
							Home
						</a></li>
					<li><a href="{% url 'about' %}"
							class="{% if request.resolver_match.url_name == 'about' %}active{% else %}none{% endif %}">
							About Us
						</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'complaints' %}"
						class="{% if request.resolver_match.url_name == 'complaints' %}active{% else %}none{% endif %}">
						Complaints
						</a></li>
					{% endif %}
					<!--Create similar navigation bar items when adding new page templates-->
					<li><a href="#">Dummy1</a></li>
					<li><a href="#">Dummy2</a></li>
				</ul>
		
			</nav>
		</div>
		<!--content-->
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>

		<!-- Footer -->
		<footer class="p-3 bg-light text-container position-relative mt-auto">
			<div class="container">
				<p class="lead">2023 Software Engineering 2: Mevin Biju, Jaime Gimillo Bonaque,	Nachuan Hong, Nikolai Nevedomskii</p>
			</div>
		</footer>
	</body>
</html>
