{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="row no-gutters">
            <div class="col-md-6">
                {% if bike.image %}
                <img src={{ bike.image.url }} class="card-img rounded-left" alt='{{ bike.name }}'/>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h3 class="card-title">{{ bike.category }} {{ bike.name }}, {{ bike.year }}</h3>
                    {% if bike.description %}
                    <p class="card-text">{{ bike.description|linebreaks }}</p>
                    {% endif %}
                    <h5 class="card-text text-primary mt-3">Price: {{ bike.price }} PLN</h5>
                    <ul class="list-unstyled mt-4">
                        <li><strong>Category:</strong> {{ bike.category }}</li>
                        <li><strong>Year:</strong> {{ bike.year }}</li>
                        <li><strong>Owner:</strong> {{ bike.owner }}</li>
                        <li><strong>In stock:</strong> {{ bike.in_stock }}</li>
                    </ul>
                    <form action="{% url 'reserve' bike_id=bike.id %}">
                        <button type="submit" class="btn btn-primary mt-4 btn-block">Reserve</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
