{% extends "base.html" %}

{% load static %}

{% block content %}
    <h3>{{ bike.category }} {{ bike.name }}, {{ bike.year }}</h3>
    <div class="d-block m-3">
        <div class="rounded p-3" style="max-width: 30%; background-color: #f1f1f1;">
            {% if bike.description %}
            <div>{{ bike.description|linebreaks }}</div>
            {% endif %}
            <div>Price: {{ bike.price }} PLN</div>
            {% if bike.image %}
            <img src={{ bike.image.url }} height="350" alt='{{ bike.name }}'/>
            {% endif %}

            <div>Category: {{ bike.category }}</div>
            <div>Year: {{ bike.year }}</div>
            <div>Owner: {{ bike.owner }}</div>
            <div>In stock: {{ bike.in_stock }}</div>

            <form action="{% url 'reserve' bike_id=bike.id %}">
    <input type="submit" value="Reserve" />
</form>
        </div>
    </div>
{% endblock %}
