{% extends 'base.html' %}

{% block content %}
  <h1>Featured Bikes</h1>
  {% if featured_bikes %}
    <ul>
    {% for bike in featured_bikes %}
        <table>
            <tr>
                <td><a href="{% url "bike_list" %}{{ bike.slug }}">{{ bike.name }}</a></td>
                <img src="{{ MEDIA_URL }}{{ bike.image.url }}" alt="{{bike.name}}">
                <td>Price: ${{ bike.price }}</td>
            </tr></table>
    {% endfor %}
    </ul>
  {% else %}
    <p>No featured products available.</p>
  {% endif %}
{% endblock %}