{% extends 'base.html' %}

{% block content %}
	<h3 class="mt-3 mb-3">Complaint {{ complaint.id }}:</h3>
	<h5 class="mt-3 mb-3">Status: {{ complaint.status }}</h5>
	{% block complaint-extra %}{% endblock %}
	{% if complaint.status == 'SOLVED' or complaint.status == 'CLOSED' %}
		<a href="{% url 'reopen_complaint' complaint.id %}" class="btn btn-warning mb-3" onclick="return confirm('Are you sure you want to reopen this complaint?')">Reopen complaint</a>
	{% endif %}
	<div class="bg-light bg-gradient p-3">
		{% for comment in comments %}
			{% if comment.user == user %}
				<div class="d-block m-3 w-50 mx-auto d-flex justify-content-start">
					<div class="rounded p-3" style="max-width: 40%; background-color: #f1f1f1">
						<div><b>{{ comment.user.username }}:</b></div>
						<div>{{ comment.content }}</div>
						<div class="mt-2"><small class="text-muted">{{ comment.time }}</small></div>
					</div>
				</div>
			{% else %}
				<div class="d-block m-3 w-50 mx-auto d-flex justify-content-end">
					<div class="rounded p-3" style="max-width: 40%; background-color:
						{% if complaint.customer == comment.user %} paleturquoise
						{% elif complaint.worker == comment.user %} moccasin
						{% else %} lavender
						{% endif %}">
						<div><b>{{ comment.user.username }}:</b></div>
						<div>{{ comment.content }}</div>
						<div class="mt-2"><small class="text-muted">{{ comment.time }}</small></div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<form class="w-25 mx-auto mt-2" method="post">
		{% csrf_token %}
		<label for="newMessage"></label>
		<textarea name="newMessage" class="form-control" id="newMessage" rows="4" style="resize: none" placeholder="Write a new message"></textarea>
		<input type="submit" class="btn btn-success mb-2 mt-2" value="Send"/>
  	</form>
{% endblock %}
